@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

/////////////////////////////////////////////////


.logo, .main-navigation, .user-block
	list-style: none;
	margin: 0
	display: flex
	border: 1px solid black


.header-address li,
.user-settings li
	display: inline-block
	margin: 5px 0 2px

.logo,.user-block
	box-sizing: border-box
	background-color: red
	width: 100%


.user-block ul
	margin: 0
	padding: 0

.user-block li
	display: inline-block
	margin: 5px 0 2px


.main-navigation
	padding: 0



.main-navigation ul
	width: 100%
	border: 1px solid red
	margin: 0
	padding: 0
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	overflow: hidden;


.main-navigation li
	margin: 0
	display: inline-block
	box-sizing: border-box
	flex: 1 1 0
	padding: 1em 

.main-navigation a
	text-transform: uppercase

.main-navigation li:hover
	background-color: gray

.js .main-navigation 
	overflow: hidden
	max-height: 0


.main-navigation.active
	max-height: 17em
	width: 100%


.menu-link2 
	float: left;
	margin: 0 1% 5px 0
	padding: 1.5em 1em 1em
	background: #f6f6f6
	line-height: 0
	text-decoration: none
	color: #333
	border-radius: 2px
	cursor: pointer
	align-self:flex-start

.menu-link2:before 
	display: block
	padding: 10px 0
	content: '≡'
	font-size: 3em
	line-height: 0

.menu-link2.active 
	background: #333
	color: #fff;

.menu-link2 span 
	display: inline-block
	text-indent: -100%
	overflow: hidden
	white-space: nowrap

.row-flex 
	display: flex
	flex-wrap: wrap
.content
	height: 100%






.header-wrapper
	display: flex
	/*width: 90%*/
	margin: auto
	justify-content: space-between

.header-wrapper > div
	margin: 0

.header-wrapper *
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	-ms-box-sizing: border-box
	box-sizing: border-box
	border: 1px solid red
	

.header-logo
	flex-basis: 100px
	flex-shrink: 0

.navigation-wrapper
	flex-shrink: 1
	flex-grow: 1
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
.header-navigation
	flex-grow: 1
	

.nav-header__list--closed


.header-navigation ul
		display: flex
		justify-content: space-between
		margin: 0
		padding: 0
		list-style: none
		width: 100%
		+media-breakpoint-down(sm)
			flex-direction: column
		li
			padding-left: 5px
			padding-right: 5px
			+media-breakpoint-down(sm)
				width: 100%
				text-align: center
			a
				font-size: 14px
				font-weight: 700
				line-height: 20px
				text-transform: uppercase
				padding: 10px

.main-nav__inner
	+media-breakpoint-down(sm)
			display: none

.header-user-block
	flex-basis: 200px
	flex-shrink: 0
	ul
		list-style: none
		margin: 0
		padding: 0
		.example
			display: flex
			flex-wrap: nowrap
			.input-text
				flex: 0 0 150px

// кнопка меню навигации

.main-nav__button 
	display: none
	+media-breakpoint-down(sm)
		display: block
		position: relative
		margin: 0 auto
		padding: 0
		width: 40px
		height: 40px
		border: 1px solid #62a13b
		background-color: #f7f7f7




.main-nav__button-line
		&:after
			content: ""
			position: absolute
			left: 4px
			width: 30px
			height: 1px
			background-color: #62a13b
			top: 9px
		&:before
			content: ""
			position: absolute
			left: 4px
			width: 30px
			height: 1px
			background-color: #62a13b
			bottom: 9px

.main-nav__button-line, .main-nav__button-line--close 
		+media-breakpoint-down(sm)
			display: block
			margin: 0 auto
			width: 30px
			height: 1px
			background-color: #62a13b
			border: none

.main-nav__button-line--close 
		+media-breakpoint-down(sm)
			background-color: transparent
			-webkit-transform: rotate(45deg)
			transform: rotate(45deg)


.main-nav__button-line--close::after, .main-nav__button-line--close::before
		+media-breakpoint-down(sm)
			content: ""
			position: absolute
			width: 30px
			height: 1px
			background-color: #62a13b
			left: 0

.main-nav__button-line--close::before
		+media-breakpoint-down(sm)
			top: 0px
			left: 0px
			-webkit-transform: rotate(90deg)
			transform: rotate(90deg)

.main-nav__button-line--close::after
		+media-breakpoint-down(sm)
			top: 0px
			left: 0px
			-webkit-transform: rotate(180deg)
			transform: rotate(180deg)

.main-nav__inner--visible
	+media-breakpoint-down(sm)
		display: block

.profile-form *
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	-ms-box-sizing: border-box
	box-sizing: border-box
	border: 1px solid red

.profile-form
	width: 100%

.profile-form__field-wrap 
	display: flex
	flex-direction: row
	align-items: center
	margin-bottom: 25px
	+media-breakpoint-down(sm)
		flex-direction: column
		align-items: flex-start

.profile-form__label 
	flex: 0 0 155px
	width: 155px
	margin-bottom: 0
	letter-spacing: .01em
	+media-breakpoint-down(sm)
		flex: 0 1

.profile-form__input
	height: 30px
	flex: 1 0
	border: 1px solid black
	+media-breakpoint-down(sm)
		width: 100%


.profile-form__selects-container
	display: flex
	justify-content: space-between
	width: 100%

@import "media" // Always at the end




